.sl{white-space: break-spaces}

.card {
    height: 15rem;
    width: 20rem;
    perspective: 100rem;
    position: relative;
}
.card__side {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 700ms ease;
    backface-visibility: hidden;

}
.card__side--back {
    transform: rotateY(180deg);
}
.card .card__side--front.flipped {
    transform: rotateY(-180deg);
}
.card .card__side--back.flipped{
    transform: rotateY(0);
}


body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
